@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Raleway", sans-serif;
}

body {
  overflow: hidden;
}

h1,
section,
p,
span,
svg {
  transition: background-color 0.5s, color 0.5s;
}
:root {
  --cor-texto-luz: #333332;
  --cor-background-luz: #ffefef;
  --cor-vermelho-luz: #fc6d6d;
  --cor-azul-luz: #7f80c5;
  --cor-rosa-luz: #e284d6;

  --cor-texto-escuro: #fae5e5;
  --cor-background-escuro: #d22238;
}
.claro-tema {
  --cor-texto: var(--cor-texto-luz);
  --cor-background: var(--cor-background-luz);
  --cor-azul: var(--cor-azul-luz);
  --cor-rosa: var(--cor-rosa-luz);
  --cor-vermelho: var(--cor-vermelho-luz);
}
.escuro-tema {
  --cor-texto: var(--cor-texto-escuro);
  --cor-background: var(--cor-background-escuro);
  --cor-azul: var(--cor-texto-escuro);
  --cor-rosa: var(--cor-texto-escuro);
  --cor-vermelho: var(--cor-texto-escuro);
}

a {
  text-decoration: none;
  color: var(--cor-vermelho-luz);
}

/* Experiencia --------------------------------*/

.experiencia {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.experiencia-canvas {
  width: 100%;
  height: 100vh;
}

/* PreCarregamento --------------------------------*/
.preCarregamento {
  background-color: var(--cor-background-luz);
  width: 100%;
  height: 100vh;
  position: fixed;
  opacity: 1;
  z-index: 99999999999999999;
}

.preCarregamento-empacotado {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.carregamento {
  display: flex;
  justify-content: center;
  align-items: center;
}

.preCirculo {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 6px;
  background-color: var(--cor-vermelho-luz);
  animation: load 1s ease-in-out infinite;
}

.preCirculo:nth-child(2) {
  animation-delay: 0.1s;
}

.preCirculo:nth-child(3) {
  animation-delay: 0.2s;
}

@keyframes load {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(-12px);
  }

  40% {
    transform: translateY(0);
  }
}
/* Pagina -------------------------------------*/

.pagina {
  z-index: 99999;
  width: 100%;
  height: 100vh;
}

.pagina-empacotada {
  position: relative;
}
/* Barra de Mudanças -------------------------------------*/
.barra-de-mudanca {
  opacity: 0;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 48px;
  right: 48px;
  z-index: 99999999999999;
}

.dia,
.noite {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--cor-texto);
}

.botao-barra {
  cursor: pointer;
  position: relative;
  width: 56px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cor-vermelho);
  border-radius: 999px;
  margin: 0px 16px;
  border: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.circulo {
  position: absolute;
  left: 6px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: var(--cor-background);
  transition: all 0.2s ease-in-out;
}

.barra-de-mudanca:hover .circulo {
  transform: scale(0.9);
}

.slide {
  left: 31px;
}

/* Titulos -------------------------------------*/

.titulo {
  width: 100%;
  height: 100vh;
}

.titulo-empacotado {
  position: relative;
  height: 100%;
  width: calc(100% - 160px);
  margin: 0 auto;
  max-width: 1100px;
}

.titulo-main {
  position: absolute;
  bottom: 150px;
  left: 0;
  color: var(--cor-texto);
}

.titulo-segundo {
  position: absolute;
  top: calc(30% - 120px);
  right: 0;
  color: transparent;
}
.titulo-terceiro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: calc(50% - 120px);
}

@media (max-width: 650px) {
  .titulo-terceiro {
    padding-top: calc(80%);
  }
}
@media (max-width: 750px) {
  .titulo-terceiro {
    padding-top: calc(70%);
  }
}

.imagemFlecha {
  position: absolute;
  opacity: 0;
  top: 80%;
  left: 50%;
  color: var(--cor-texto);
  transform: translate(-50%, -50%);
  animation: bounce 0.5s ease-in alternate infinite;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(8px);
  }
}

.titulo-terceiro-titulo {
  font-size: 32px;
  color: var(--cor-texto);
  opacity: 0;
}

.titulo-main-titulo {
  font-size: 64px;
  color: transparent;
}
.titulo-main-descricao {
  font-size: 32px;
  color: transparent;
}
.titulo-segundo-titulo {
  font-size: 32px;
  color: transparent;
  text-transform: uppercase;
}
.titulo-segundo-descricao {
  font-size: 32px;
}

.imgTitulo {
  width: 32px;
  height: 32px;
  margin-right: 15px;
  margin-left: 15px;
}

/* Seções -------------------------------------*/
.margen-secao {
  height: 3000px;
  width: 100%;
}

.secao {
  position: relative;
  width: 50%;
  padding: 600px 4%;
  margin: 0;
  background-color: var(--cor-background);
  overflow: hidden;
}
.esquerda {
  margin-right: auto;
  border-top-right-radius: 700px 700px;
  border-bottom-right-radius: 700px 700px;
}
.direita {
  margin-left: auto;
  border-top-left-radius: 700px 700px;
  border-bottom-left-radius: 700px 700px;
}

.intro-secao {
  position: relative;
  padding: 20% 5%;
  border-bottom: 2px solid var(--cor-vermelho);
  padding-bottom: 250px;
}

.secao-detalhes {
  position: relative;
  padding: 20% 5%;
}

.secao-cabeca {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.8;
  margin-top: 64px;
  color: var(--cor-texto);
}

.secao-texto {
  line-height: 2;
  margin-top: 18px;
  font-size: 16px;
  color: var(--cor-texto);
}

.linksDetalhes {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imgLinks {
  width: 200px;
  height: 56px;
  margin-bottom: 40px;
  border-radius: 100px;
}

/* Decoração seções ----------------------------------------*/

.secao-titulo {
  position: relative;
  color: var(--cor-vermelho);
}
.secao-titulo-texto {
  font-size: 40px;
  text-transform: uppercase;
  color: var(--cor-vermelho);
}

.secao-numero {
  position: absolute;
  bottom: 15px;
  right: 0;
  color: var(--cor-vermelho);
  font-size: 24px;
}

/* Outras cores */

.azul-texto {
  color: var(--cor-azul);
}

.azul-borda {
  border-color: var(--cor-azul);
}

.azul-background {
  background-color: var(--cor-azul);
}

.rosa-texto {
  color: var(--cor-rosa);
}

.rosa-borda {
  border-color: var(--cor-rosa);
}

.rosa-background {
  background-color: var(--cor-rosa);
}

@media (max-width: 968px) {
  .secao {
    width: 100%;
  }
  .titulo-main {
    bottom: 120px;
  }
  .titulo-segundo {
    top: 160px;
  }
  .titulo-empacotado {
    width: calc(100% - 60px);
  }
  .titulo-main-titulo {
    font-size: 32px;
  }
  .titulo-main-descricao {
    font-size: 18px;
  }
  .titulo-segundo-descricao {
    font-size: 18px;
  }
}
